body {
	background-color:#fdf7f7;
	font-family:  'Arvo', serif, Helvetica, Arial;
	font-size:14px;
}

#container {
	width: 960px;
	margin-left:auto;
	margin-right:auto;	
	margin-top:35px;
	margin-bottom:10px;
}

li
{
	display:inline;
}

ul 
{ 
	list-style-type:none; 
	margin:0; 
	padding:0; 
} 

#body{
	background-color:;
	margin-top:10px;
	overflow: hidden;
}

.nohover {
	width:10%;
	float:left;
	border= 0px;
}

.nohover a:hover {
	 background-color: transparent;
}

#nav_right {
	margin-left:10px;
        margin-right:10px;
	width:85%;
	height:40px;
	font-size: 16px;
	font-weight: bold;
}

/* Dropdown */

.dropdown-menu {
	  font-size: 16px;
	  margin-top: 5px;
	  min-width: 105px;
}

.dropdown-menu li a {
	 color: #898989;
	 padding: 6px 20px;
	 font-weight: 300;
}

/* Dropdown end*/

/* Index menu */
.thumbnails .thumbnail {
	background-color:#df5759;
	color: #ffffff;
	height:180px;
	width: 180px;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:30px;
}

.thumbnails a {
	color: #ffffff;
	text-decoration: none;
	size:20px;
	weight:bold;
}

.thumbnails a:hover,a:active { 
	color:orange;
	text-decoration: none;
} 

/* Index menu end*/

.divider{
	background-color:#df5759; 	
}

#mainbody {
	height:500px;
	font-size:20px;
}

/*
#mainbody_left {
	margin-top:40px;
	width:470px;
	font-size:19px;
	text-decoration:none;
	float:left;
}
*/

/*About page*/
#pagetopic {
 	height:70px;
	margin-top:20px;
}
/*About page*/
/*
#mainbody_right {
	width:450px;
	float:right;
	margin-left:10px;
}*/

#oscfacebook {
	font-size:40px;
	color: #009;
}

#semesters {
	color:#FF00FF; /*#FF0000;*/
 	font-size:60px;
}

#semesters h3 {
	color: #FF00FF /*#FF0000;*/
 	font-size:30px;
 	display: inline;
}

/*Picture Slider*/
.slide {
  display: none;
}

.active-slide {
    display: block;
}

.arrow-next {
  display: inline-block;
  align: centre;
  margin-top: 9px;
}

.arrow-next {
  display: inline-block;
  align: centre;
  margin-top: 9px;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

/*Picture Slider*/


/* Footer */
#footer {
	background-color:#fdf7f7;
	height:30px;
	margin-top:20px;
}

#footer a
{
	color: black;
}

#footer a:link,a:visited  {
	color: black; 
	font-weight:800;
	font-size:16px;
	text-align: center; 
	padding:0px; 
	text-decoration:none;
}

#footer a:hover,a:active 
{ 
	color:orange;

} 

#footer ul {
	text-align:center; /*to center align footer*/
	text-decoration:none;
}
