body {
	background-color:#fdf7f7;
	font-family:  'Arvo', serif, Helvetica, Arial;
	font-size:14px;
}

li
{
	display:inline;
}

ul 
{ 
	list-style-type:none; 
	margin:0; 
	padding:0; 
}

#header_wrap {
	/*background-color:#3b85ce; */
	width: 100%;
	position: relative;
	padding: 10px 10px; 
	margin: 0 auto;
	background-image:
    	radial-gradient(
	 yellow,
      	#f06d06
    	);
	/*background: -moz-linear-gradient(top, #373737, #212121);
  	background: -webkit-linear-gradient(top, #373737, #212121);
  	background: -ms-linear-gradient(top, #373737, #212121);
  	background: -o-linear-gradient(top, #373737, #212121);
	background: linear-gradient(top, #373737, #212121);  /*/
}

/*#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}*/

#project_title {
  margin: 0;
  color: #fff;
  font-size: 58px;/*42*/
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
  background: #ffffff;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}


#footer_wrap {
	background-color:#3b85ce ;
	width: 100%;
	position: relative;
	padding: 10px 10px; 
	margin: 0 auto;
}

#software{
	background-color:#574778;	
	color:#ffffff;
}

#hardware{
	background-color:#ffffff ;	
	color:#00000;
}

#fun{
	background-color:#574778;
	color:#ffffff;
}
